.add-invoices {
  margin: 0 auto;

  .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    > div {
      margin: 10px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
